@page
@model Project.Web.Areas.Admin.Pages.Articles.CreateModel
@{
    ViewData["Title"] = "Create Article";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                @Html.AntiForgeryToken()
                <hr />
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label asp-for="Model.Title"></label>
                    <input asp-for="Model.Title" class="form-control" />
                    <span asp-validation-for="Model.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model.ImageUrl"></label>
                    <input asp-for="Model.ImageUrl" class="form-control" />
                    <span asp-validation-for="Model.ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model.Content"></label>
                    <textarea asp-for="Model.Content" class="form-control"></textarea>
                    <span asp-validation-for="Model.Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model.Category"></label>
                    @Html.DropDownListFor(Model => Model.Model.Category, new SelectList(Model.Model.Categories), new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
