@using Project.Models.ViewModels
@model List<IndexViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1 align="center">Top articles</h1>

<div class="row">
    @foreach (var article in Model)
    {
        <div class="col-sm-4">
            <h2>@article.Title</h2>
            <a asp-area="" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                <img src="@article.ImageUrl" width="200" />
            </a>
        </div>
    }
</div>