@page
@model Project.Web.Pages.Videos.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                @Html.AntiForgeryToken()
                <hr />
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label asp-for="Model.Title"></label>
                    <input asp-for="Model.Title" class="form-control" />
                    <span asp-validation-for="Model.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model.VideoUrl"></label>
                    <input asp-for="Model.VideoUrl" class="form-control" />
                    <span asp-validation-for="Model.VideoUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}